<!DOCTYPE html>
<html lang='es'>
<head>
	<meta charset='utf-8'>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
	 <meta name="googlebot" content="index,follow"/>
    <meta name="author" content="Ing. Jonathan Olier Miranda"/>
  {% block encabezado %}{% endblock %}
  <link rel='stylesheet' href='{{STATIC_URL}}css/stylesheet.css'>
  <link rel='stylesheet' href='{{STATIC_URL}}css/2bootstrap.min.css'>
  <link rel='stylesheet' href='{{STATIC_URL}}css/2bootstrap-responsive.min.css'>
  <link rel='shortcut icon' href='{{STATIC_URL}}ico/fav.ico'>
  {% block style_css %}{% endblock %}
  <script src='{{STATIC_URL}}js/jquery-1.7.2.min.js'></script>
  <script src='{{STATIC_URL}}js/disable select text.js'></script>
  <script src='{{STATIC_URL}}js/bootstrap.min.js'></script>
  <script src='{{STATIC_URL}}js/bootstrap.js'></script>
</head>
<body>
	<header>
  		<nav>
  			<ul id="menu">
  				<li><a href="/"><strong>&#10029; Inicio</strong></a></li>
          <li><a href="/cotizaciones"><strong>Cotizaciones</strong></a></li>
          <li><a href="/empresas"><strong>Empresas</strong></a></li>
          <li><a href="/facturas"><strong>Facturas</strong></a></li>
          <li><a href="/personas"><strong>Personas</strong></a></li>
          <li><a href="/servicios"><strong>Servicios</strong></a></li>
          <li><a href="/contacto"><strong>Contacto</strong></a></li>
          <!--
          <li><a href="/usuario/nuevo"><strong>Nuevo Usuario</strong></a></li>
  				<li><a href="/ingresar"><strong>Iniciar Seccion</strong></a></li>
        -->
  			</ul>
  		</nav>
  	</header>
  	<div id="logo">
  		<img src="{{STATIC_URL}}img/logo.png" alt="">
  	</div>
  	{% block titulo %}{% endblock %}
	<section class='content'>
		{% block contenido %}{% endblock %}
	</section>
	<footer>
		<p>Todos los derechos reservados por <strong>AltiviaOt &copy;2012</strong></p>
	</footer>
</body>
</html>