{% extends 'base.html' %}
{% block encabezado %}<title>Creativity</title>{% endblock %}
{% block contenido %}
	<div class="container-fluid">
    	<div class="row-fluid offset1">
	        <div id="loginuser">
	        	<div id="clientes" class="span4 well">
	        	  <p>Hola clientes!!</p>
	        	  <a class="btn btn-primary btn-large">Clientes</a>
	        	</div>
	        	<div id="usuarios" class="span4 well">
	        	  <p>Hola usuarios!!</p>
	        	  <a class="btn btn-primary btn-large">Usuarios</a>
	        	</div>
	        </div>
      	</div>
    </div>
{% endblock %}