{% extends 'base.html' %}
{% block encabezado %} <title>Creativity | Empresas</title> {% endblock %}
{% block titulo %} <h1>Empresas</h1> {% endblock %}
{% block contenido %}
	{% for elemento in lista %}
	<div class="container-fluid">
     	<div class="row-fluid offset3">
	        <div class="span4 well">
	        	<ul class="sec">
		            <li><a href="{{elemento.website}}"><strong>{{elemento.nombre}}</strong></a></li>
					<li class="sub">{{elemento.nit}}</li>
					<li class="sub">{{elemento.direccion}}</li>
	          	</ul>
	        </div>
      </div>
    </div>
	{% endfor %}
{% endblock %}