{% extends 'user/base.html' %}
{% block encabezado %}<title>Creativity</title>{% endblock %}
{% block contenido %}
	<div class="container-fluid">
    	<div class="row-fluid offset2">
	        <div id="loginuser">
	        	<div id="bienvenido" class="span6 well">
	        	  <p><strong>On Creativity</strong> es una agencia creada por empresarios, emprendedores, una empresa comprometida con el trabajo bien hecho, con la satisfacción total de las necesidades del cliente en materia del desarrollo de soluciones creativas, ágiles y prácticas que permitan una eficaz presencia de su marca dentro y fuera de su empresa, en el punto de venta, espacios comerciales y publicidad exterior. En <strong>On Creativity</strong> encontrará altos estándares de calidad, seriedad y cumplimiento; para así, llenar a cabalidad todos sus requerimientos en cuanto a la creación, aplicación y representación de marca se refiere.<br><br> Att: Ing Jonathan Olier</p>
	        	</div>
	        </div>
      	</div>
    </div>
{% endblock %}